page-login{
    .toolbar-background-ios{
        background:#fff;
    }
    .login{
        height:100%;
        padding:0;
        background-image:url('../assets/images/login_background.png');
        background-size:100%;
        .login_log{
            margin-top:100px;
            img{
                width:65%;
            }
        }
        .login_content{
            background-color:rgba(255, 255, 255, 0.5);
            padding:25px 0;
            margin-top:40px;
            .managementAccount{
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;
                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:200px;
                        display:inline-block;
                    }
                }
            }
            .login_pwd{
                margin-top:10px;
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;
                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:200px;
                        display:inline-block;
                    }
                }
            }
            .authenticationCode{
                margin-top:10px;
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;
                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                        margin-left:15px;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:100px;
                        display:inline-block;
                    }
                    img{
                        height:30px;
                        width:90px;
                        float:left;
                        margin:0 0 0 10px !important;
                    }
                }
            }
        }
        .btn_login{
            margin-top:20px;
            ion-col{
                button{
                    background:#FF651E;
                    color:#fff;
                    font-size:16px;
                    width:95%;
                    height:35px;
                    border-radius:2px;
                }
            }
        }
        .forGetPwd{
            ion-col{
                color:#FF651E;
                padding-right:12px;
                span{
                    text-decoration:underline;
                }
            }
        }
    }
    .managementAccount,.login_pwd,.authenticationCode{
        ion-input{
            input{
                height:30px;
                width:100%;
                position:absolute;
                margin:0 0 0 0 !important;
            }
        }
    }
}
