page-inputPage{
		
		.scroll-content{
		  background:rgba(0,0,0,0.3);
		}
		.header .toolbar-background{
			background-color: #fff;
		}
		.textstyle{
			width:95%;min-height:14rem;max-width:95%; border:1px solid #efefef;
			display:block; margin:0 auto; 
		}
		.title{
			font-size: 1.6rem; text-align: center; height:auto;padding:10px 0 8px 0; margin: 0; 

		}
}
