<ion-header>
    <ion-toolbar color="yanbao">
        <ion-buttons start>
            <button ion-button icon-only (click)="goToBackPage()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title center>业绩结算</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content style="background:#e5e5e5;">
   <div *ngIf="items!=null">
        <ion-list class="settleAccounts" *ngFor="let itm of items">
            <ion-row class="settleAccountsHead">
                <ion-col>{{itm.month}}月业绩提成</ion-col>
            </ion-row>
            <ion-row class="settleAccountsInfo">
                <ion-col style="padding:5px;">
                    <ion-row class="salesPerformance">
                        <ion-col text-left>销售业绩提成</ion-col>
                        <ion-col text-center>+{{itm.balance}}</ion-col>
                        <ion-col text-right>提成合计</ion-col>
                    </ion-row>
                    <ion-row class="EPPerformance">
                        <ion-col text-left>EP业绩提成</ion-col>
                        <ion-col text-center>+{{itm.ep}}</ion-col>
                        <ion-col text-right>¥{{itm.totalAmount}}</ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-list>
        <div *ngIf="items.length>0">
             <p *ngIf="show&&items.length!=0" style="text-align: center;color: #666;">下拉加载更多...</p>
             <p *ngIf="!show&&items.length!=0"  style="text-align: center;color: #666;">已经全部加载完了...</p>
        </div>
   </div>
     <div style="width:100%; height: 100%; background-color: #fff; text-align: center;"  *ngIf="items==null">
      <img src="assets/images/null.png" style="margin:0 auto; max-width: 100%; margin-top: 40px;">
    </div>
</ion-content>
