page-EPGive{
     /*默认的修改头部返回箭头的样式*/
        .bar-button-ios {
          padding: 0 4px;
          height: 25px;
          border-radius: 4px;
           font-size: 1.2rem;
        }
        .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
            color: #333;
            background-color: transparent;
        }
    .EPGive{
        padding:0;
        margin-top:3px;
        .EPGiveInfo{
            background:#fff;
            padding:10px 0;
            .EPGiveInfoName{
                padding:5px 0;
                ion-col{
                    padding-left:10px;
                    .userAccount{
                        float:left;
                        line-height:30px;
                        font-size:12px;
                        color:#999;
                    }
                    ion-input{
                        border:1px #dedede solid;
                        height:30px;
                        width:140px;
                        float:left;
                    }
                    .showName{
                        line-height:30px;
                        font-size:12px;
                        color:#999;
                        margin-left:10px;
                    }
                }
            }
            .EPGiveInfoNum{
                padding:5px 0;
                ion-col{
                    padding-left:10px;
                    span{
                        float:left;
                        line-height:30px;
                        font-size:12px;
                        color:#999;
                    }
                    ion-input{
                        border:1px #dedede solid;
                        height:30px;
                        width:230px;
                        float:left;
                    }
                }
            }
            .EPGiveInfoPwd{
                padding:5px 0;
                ion-col{
                    padding-left:10px;
                    span{
                        float:left;
                        line-height:30px;
                        font-size:12px;
                        color:#999;
                    }
                    ion-input{
                        border:1px #dedede solid;
                        height:30px;
                        width:230px;
                        float:left;
                    }
                }
            }
        }
        .EPGiveDetermine{
            ion-col{
                button{
                    width:95%;
                    height:30px;
                    background:#FF651E;
                    color:#fff;
                    font-size:16px;
                }
            }
        }
        .EPGiveReset{
            ion-col{
                button{
                    width:95%;
                    height:30px;
                    background:#0be198;
                    color:#fff;
                    font-size:16px;
                }
            }
        }
    }
    ion-input{
        input{
            height:30px;
            width:100%;
            position:absolute;
            margin:0 0 0 0 !important;
            text-indent:8px;
        }
    }
}
