page-forgetPassword{
     /*默认的修改头部返回箭头的样式*/
        .bar-button-ios {
          padding: 0 4px;
          height: 25px;
          border-radius: 4px;
           font-size: 1.2rem; 
        }
        .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
            color: #333;
            background-color: transparent;
        }
        
    .forgetPwd{
        height:100%;
        padding:0;
        background-image:url('../assets/images/login_background.png');
        background-size:100%;
        .forgetPwd_log{
            margin-top:50px;
            ion-col{
                img{
                    width:65%;
                }
            }
        }
        .forgetPwd_content{
            background-color:rgba(255, 255, 255, 0.5);
            padding:25px 0;
            margin-top:40px;
            .forgetPwd_phone{
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;
                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                        width: 75px;
                        text-align: right;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:210px;
                        display:inline-block;
                    }
                }
            }
            .forgetPwd_newPwd{
                margin-top:10px;
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;
                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                        width: 75px;
                        text-align: right;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:210px;
                        display:inline-block;
                    }
                }
            }
            .forgetPwd_code{
                margin-top:10px;
                ion-col{
                    line-height:40px;
                    height:40px;
                    padding:5px 5px 5px 15px;

                    span{
                        display:inline-block;
                        float:left;
                        height:30px;
                        line-height:30px;
                        width: 75px;
                        text-align: right;
                    }
                    ion-input{
                        text-indent:8px;
                        margin-left:7px;
                        float:left;
                        background:#fff;
                        height:30px;
                        width:100px;
                        display:inline-block;
                    }
                    button{
                        float:left;
                        background:#FF651E;
                        color:#fff;
                        border-radius:2px;
                        height:30px;
                        margin-left:12px;
                    }
                }
            }
        }
        .forgetPwd_button{
            margin-top:20px;
            .forgetPwd_btnLogin{
                background:#FF651E;
                color:#fff;
                font-size:16px;
                width:47%;
                height:35px;
                border-radius:2px;
            }
            .forgetPwd_btnReset{
                background:#0be198;
                color:#fff;
                font-size:16px;
                width:47%;
                height:35px;
                border-radius:2px;
                margin-left:10px;
            }
        }
    }
    ion-input{
        input{
            height:30px;
            width:100%;
            position:absolute;
            margin:0 0 0 0 !important;
        }
    }
}
